$color-primary:#09abff;
$color-text:#303030;
$color-text-darker:#101010;
$color-disable:#909090;
$color-background:#f2efe9;
$color-background-lighter:#e9f1f2;
$color-text-light:#fff;
$color-divide:#d9d9d9;
$color-danger:#f5222d;